<header>
{%- for entry in collections.all | eleventyNavigation %}
{#  <a href="{{entry.url}}" {% if entry.url == page.url %} class="active"{% endif %} > #}
  <a href="{{entry.url}}">
    {{entry.key}}
  </a>
{%- endfor -%}
</header>