<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    {% seo "" %}
  </head>
  <body>
    <header>
      <nav>
        {%- for entry in collections.all | eleventyNavigation %}
          {%- if entry.url == page.url %}
          <span class="active">{{entry.key}}</span>
          {%- else %}
          <a href="{{entry.url}}">{{entry.key}}</a>
          {%- endif %}
        {%- endfor -%}
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      &copy; {{ "now" | date("yyyy") }} Kimberly Wilber.
      Template adapted from by
      <a href="https://vercte.net">Vercte</a>'s ReplIt template and
      <a href="https://glitch.com/~glitch-hello-eleventy">the glitch eleventy template</a>
      made by Keith Kurson and friends.
    </footer>
  </body>
</html>
