\section*{Conferences and Scholarships}
\begin{longtable}{L!{\VRule}R}
& \textbf{Student Volunteer} at several conferences:\\
CVPR & IEEE Conference on Computer Vision and Pattern Recognition 2011, 2012, 2013, 2014, 2015\\
WACV & Winter conference on Applied Computer Vision 2012, 2013, 2014
\vspace{3pt}\\

2013--2016&\textbf{National Science Foundation GRFP Awardee}, UCSD/Cornell\vspace{3pt}\\

2010--2013&\textbf{Dean's List}, UCCS\vspace{3pt}\\

2010--2013&\textbf{Kane Family Foundation Scholarship Recipient},
Full tuition and books, UCCS\vspace{3pt}\\

2010--2013&\textbf{Braxton Scholarship Recipient}, UCCS

\end{longtable}
% FDHD at IJCB2012