\section*{Education}
\begin{longtable}{L!{\VRule}R}
2014--2018&\textbf{Ph.D. in Computer Science, Cornell Tech}\\
&{\small Supported by the National Science Foundation Graduate Research Fellowship~(NSF~GRFP)}\vspace{5pt}\\
2013--2014&Graduate studies at University of California, San Diego\\
&{\small Transferred to Cornell to follow my advisor, Dr. Serge Belongie}\vspace{5pt}\\
2009--2013&\textbf{Bachelor of Innovation in Computer Science, University
of Colorado Colorado Springs}\\ %(4.0~GPA)
&{\small Supported by the Kane Family Foundation Scholarship}
%\\
%&{\small Supported by the Kane Family Foundation Scholarship, Braxton Scholarship}
\vspace{5pt}\\
% &{\small The Bachelor of Innovation is like a BS but places more emphasis on
% teamwork and technical writing.}
2008--2010&High-school concurrent classes at University of Colorado
Colorado Springs %(4.0~GPA)
\vspace{5pt}\\
2007--2008&High-school concurrent classes at Colorado Technical
University %(4.0~GPA)
\end{longtable}
% Education:
% Fall 2010 – Present
% Fall 2008 – Fall 2010
% High-school concurrent student at UCCS
% Fall 2007 - Fall 2008
% Student for one year at Colorado Springs Early Colleges. Transferred to UCCS with a 4.0 GPA.
% Relevant Skills: