% \section*{Technical Skills}
% \begin{minipage}[t]{0.30\textwidth}
% \raggedright
% \textbf{Computer vision, machine learning, AI infra,} %I use applied research to empower users and the societies we live in.
% from Google-scale distributed training runs to mechanistic interpretability research at the startup I co-founded.
% Fluent in scientific Python tools (TensorFlow, PyTorch, scikit-learn, matplotlib, numpy/scipy, huggingface transformers, VLLM, DuckDB / LanceDB, etc).
% % Uses OpenCV, dlib, OpenGL, and Apache Flume in C environments.
% \end{minipage}
% \hspace{0.5cm}
% \begin{minipage}[t]{0.30\textwidth}
% \raggedright
% \textbf{Strong general proficiency with POSIX and CLI tools} on Linux and MacOS. Writes side projects in C, Cython, and nim.
% \\
% \vspace{4pt}
% \textbf{Sysadmin.} Over 20 years of experience administering Debian and Ubuntu server clusters across various hosting environments (AWS EC2, GCP, and on-prem) using tools like Ansible and Docker.
% \end{minipage}
% \hspace{0.5cm}
% \begin{minipage}[t]{0.30\textwidth}
% \raggedright
% \textbf{Full-stack.} I build projects spanning
% low-level UNIX/C
% to high-level Python
% to frontend (HTML/Javascript, Vue, React)
% % to frontend (HTML/Javascript, Coffeescript, Livescript, in Vue and React)
% to DB (SQLite, Postgres, DuckDB).
% % in both SQL database and MapReduce environments.
% I love speeding up slow code! % with parallelization and algorithmic improvements.
% \\\vspace{4pt}
% \textbf{Open-source.} Contributor to projects including Racket and node.js -- ask me about the \verb+clearTimeout+ nodejs bug I found and fixed in 2010!
% \end{minipage}


\section*{Technical Skills}
\vspace{-8pt}
\begin{itemize}
\item \textbf{AI research infrastructure for LLMs, computer vision, and machine learning}\\
I write and manage end-to-end research infrastructure, from ``solo experiment'' to Google-scale, in applications ranging from LLM mechanistic interpretability to drafting crowdsourcing user interfaces to training depth prediction networks for 3D scene understanding.
I do everything from idea to paper deadline to product launch: productionizing linear probes, re-quantizing transformer models for on-device performance, and making compelling evaluations.
% distributed training runs before applying these skills to the mechanistic interpretability research at the startup I co-founded.
%I do whatever's needed, from productionizing linear probes to re-quantizing on-device transformer models to making compelling evaluations.
%\item \textbf{Computer vision, machine learning}\\ %I use applied research to empower users and the societies we live in.
%from Google-scale distributed training runs to mechanistic interpretability research at the startup I co-founded.
%Fluent in scientific Python tools (TensorFlow, PyTorch, scikit-learn, matplotlib, numpy/scipy, huggingface transformers, VLLM, DuckDB / LanceDB, etc).
%\item \textbf{Strong general proficiency with POSIX and CLI tools}\\ on Linux and MacOS. Writes side projects in C, Cython, and nim.
\vspace{4pt}
\item \textbf{Full-stack sysadmin.} \\I have over 20 years of experience administering Debian and Ubuntu server clusters across various hosting environments (AWS EC2, GCP, and on-prem) using tools like Ansible and Docker.
%\item \textbf{Full-stack.} \\
I love projects that require skilled craftsmanship across the stack, from tight inner loops to high-level UX interfaces.
Proficient in UNIX/C, the numerical Python stack (PyTorch, sklearn, matplotlib, numpy/scipy, huggingface transformers, DuckDB/LanceDB), browser backend (Flask, FastAPI, Node.js) and frontend (HTML/Javascript/CSS, Vue, React),
% to frontend (HTML/Javascript, Coffeescript, Livescript, in Vue and React)
DB (SQLite, Postgres, DuckDB).
% in both SQL database and MapReduce environments.
%I love speeding up slow code! % with parallelization and algorithmic improvements.
\vspace{4pt}
\item
\textbf{Open-source.} \\ I'm a contributor to projects including Racket and Node.js % -- ask me about the \verb+clearTimeout+ nodejs bug I found and fixed in 2010!
My \href{https://github.com/gcr}{GitHub profile} has 196 followers. Repositories I created have 200 forks and 700 stars.
\end{itemize}

%\begin{itemize}
%\item \textbf{Research interests: Applied computer vision and machine learning to empower users and the societies we live in.} Specific areas include assistive technology, ecology, general-purpose object recognition, perceptual embeddings, artistic style understanding, and privacy-preserving biometrics.
%\item \textbf{Languages and Libraries:}
%  I try to strike a balance between high level scripting and low-level performance languages:
%%  Fluent with Python, the scientific Python stack (Torch, TensorFlow, numpy/scipy,
%%  Cython, scikit-learn, excellent with matplotlib),
%  with strong POSIX/CLI proficiency. %Reasonably familiar with Lua/Torch7,
%  Favorite languages are livescript and nim-lang.
%  Familiar with old and new ML/CV tools -- I cut my teeth on OpenCV/LibSVM shortly before deep learning became common. Familiar with C and its ABI.
%  %Racket/Scheme, node.js,
%  %C (and to a lesser extent, C\kern-0.2ex\raisebox{0.4ex}{\scalebox{0.8}{+\kern-0.4ex+}}),
%  %\textsc{Matlab}, Java, and C\#.
%  %Familiar with several graphics libraries including OpenGL, OpenCV.
%  %Also fluent in presentation languages including \LaTeX , HTML, and CSS.
%  Some experience with C++ and Java, and can work my way around various front-end HTML/Javascript stacks.
%  Eager to learn JAX, rust, nix, F\#/OCaml, Haskell, the .NET stack, etc.
%  Contributor to open-source projects including Racket and node.js -- ask me about the old \verb+clearTimeout+ nodejs bug I found and fixed in 2010!
%\item \textbf{Linux Server Administration:}
%  Twenty years of Debian, Ubuntu, and Arch Linux experience on server,
%  desktop, and cloud services (EC2, Digital\-Ocean, GCP). Managed over 30
%  Debian servers at startups and university research labs.
%  Eager to learn kube/nix, though most of my sysadmin experience
%  is with ``pre-orchestration'' tools like ansible/salt/docker.
%Vision and Security Technology Laboratory at
% the University of Colorado Colorado Springs (UCCS) and Securics,
% Inc.
%\item \textbf{Cluster Computing and ``Big Data'':}
%  Skilled at parallelizing large experiments. Created internal
%  projects with BOINC, the \emph{Berkeley Open Infrastructure for
%    Network Computing}. Designed several frameworks for distributed
%  computing in Python and
%  Racket. %; subsequently used such frameworks on
%  % 20 machines mentioned above to ensure experiments mentioned above
%  % finished before deadline.
%Can port \textsc{Matlab}/Python code to C.
%\end{itemize}

%\begin{center}\textit{``I'll solve performance problems, fix complex issues, and tell
%\\
%persuasive
%stories to help your team look incredible.''}\end{center}
%\vspace{-15pt}