
\usepackage[dvipsnames,svgnames,x11names,hyperref]{xcolor}
\usepackage{tikz}
\usepackage{array}
\usepackage{graphicx}
\usepackage[colorlinks=true,urlcolor=Brown]{hyperref}

%\usepackage{showframe} % Debug margins

\usepackage{amssymb}

\usepackage{enumitem}
\setlist{nosep}

\usepackage{longtable}
\usepackage{multirow}
\usepackage{makecell}
\renewcommand\cellalign{lc}
\setlength{\LTpre}{0pt}
\setlength{\LTpost}{0pt}

\usepackage[math]{kurier} % nicer fonts
% \usepackage{tgpagella}
\usepackage{url}

\usepackage[T1]{fontenc}
\usepackage{microtype}
\usepackage[us,12hr]{datetime}
\setlength\parindent{0pt}
\newcolumntype{L}{>{\raggedleft}p{0.1\textwidth}}
\newcolumntype{R}{p{0.85\textwidth}}
\newcommand\VRule{\color{lightgray}\vrule width 0.5pt}

\usepackage{datetime}
\usepackage{fancyhdr}