\begin{minipage}{0.70\textwidth}
  \flushleft
{\bfseries\Huge Kimberly J. Wilber}
\vspace{-0.8em}
\rule[0.7em]{\linewidth}{0.5mm}
%\vspace{0.2em}
Research engineer with an academic computer vision background.
\hfill {She / Her}
\end{minipage}
\hfill
\begin{minipage}[ht]{0.28\textwidth}
\flushright{%wilmic1102@gmail.com
kimmy@kjwilber.org
\\{http://kjwilber.org}
% \\111 8th Ave, Ste. 302
% \\New York, NY 10011
%\\(719) 237-8834
%\\\url{http://github.com/gcr}
}
\end{minipage}