---
layout: page.njk
title: Kimmy's Blog
eleventyNavigation:
  key: Blog
  order: 0
pagination:
  data: collections.posts
  size: 2
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{#
- blog.njk: The 5 most recent blog posts with full content.
- archive.md: All blog posts sorted by category.
#}

<p>Hi! I'm Kimberly! This is my informal blog where I write about things that interest me. I also write about my life and other things that are on my mind.</p>

{% for post in pagination.items %}
<section class="post embedded {{ post.data.tags | join(" ") }}">
  <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
  <p class="post-metadata">
    <strong>Posted:</strong> {{ post.data.date | date("yyyy-LL-dd") }}
    {% set ail = post.data.ail %}{% include "ail.njk" %}
    {% if post.data.tags.length > 1 %}
      <br /><strong>More: </strong>
      {%- for tag in post.data.tags -%}
        {%- if tag != "posts" -%}
          <a href="/archive/#{{ tag }}">{{ categories[tag].short or tag|capitalize }}</a>{% if not loop.last %}, {% endif %}
        {%- endif -%}
      {%- endfor -%}
    {% endif %}
  </p>
  {{ post.content | absoluteImagePaths(post.inputPath) | safe }}
</section>
{% endfor %}

{% if pagination.href.previous or pagination.href.next %}
<nav class="pagination" aria-label="Blog pages">
  {% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}" class="left" rel="prev">&larr; Newer</a>
  {% else %}
    <span class="de-emphasized">Nothing newer</span>
  {% endif %}
  <a href="/archive/">All posts</a>
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="right" rel="next">Older &rarr;</a>
  {% else %}
    <span class="de-emphasized">Nothing older</span>
  {% endif %}
</nav>
{% endif %}
