/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #fff;
  --color-footer: #aaa;
  --color-text-main: #000000;
  --color-primary: #52A5E9;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";

  --accent-1: #52A5E9;
  --accent-2: #A99DFF;
  --accent-3: #FFA7CC;
  --accent-4: #FFB85E;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Navigation grid */
header {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 0 auto;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 3px solid;
  border-image: linear-gradient(45deg, var(--accent-1) 10%, var(--accent-2), var(--accent-3), var(--accent-4) 90%) 1;
}

header a {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  border-bottom: none !important;
  padding: 0 0.5rem 0.5rem;
}
header a.active {
  color: var(--color-text-main);
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 3rem 2rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

footer {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: calc(600px + 2rem + 2rem);
  color: var(--color-footer);
  font-size: 0.7rem;
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
  font-size: 1rem;
}
h1, h2, h3, h4, h5 {
  margin: 1.5rem 0 .8rem;
  font-family: var(--font-family-header);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-text-main);
}
h1.title {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-size: 4rem;
  /*display: inline-flex;*/
  flex-basis: min-content;
  background: linear-gradient(45deg, var(--accent-1) 10%, var(--accent-2), var(--accent-3), var(--accent-4) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
h1 {
  font-size: 3rem;
    background: -webkit-linear-gradient(45deg, var(--accent-4), var(--accent-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
h2 {
  font-size: 2rem;
  color: var(--accent-1);
}
h3 {
  font-size: 1.5rem;
  color: var(--accent-2);
}
h4 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: 0.8rem;
}
ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
}
ul.no-bullet {
  list-style-type: none;
}

/* Link styles */
a:link,
a:visited {
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  transition: background 0.2s linear;
}
a:hover{
  color: var(--color-bg) !important;
  background: var(--color-primary);
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: var(--color-bg) !important;
}

/* Title style adjustments */
.title-lg {
  color: var(--color-text-main);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
}
.title-md {
  font-size: 56px;
}

/* Layout: Home */
.home {
  justify-content: left;
}
.illo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1rem;
}
.illustration {
  max-width: 200px;
  min-width: 50px;
  /*max-height: var(--image-max-width);*/
  /*margin-top: 1rem;
  margin-right: 2rem;*/
  /* transform: rotate(1deg);*/
  /*align: right;*/
}

/* Post */
.post {
  place-items: normal;
}
.postTitle {
  font-size: 4rem;
  color: #000;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.controls {
  margin: 3rem 0 2rem;
}

/* Figures */
.caption {
  color: #888;
  font-size: 0.8rem;
}
